.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 15px 24px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 4px;

    .headerFlexContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;

        .headerLogo {
            width: 25px;
            height: 25px;
        }

        .headerLink {
            color: #777;
        }

        .headerInput {
            display: flex;
            flex-direction: row;
            gap: 0px;

            input {
                position: relative;
                z-index: 1;

                padding: 8px 12px;
                color: #555;
                background-color: white;
                border: 1px solid #ccc;
                border-radius: 4px 0px 0px 4px;
            }

            button {
                padding: 8px 12px;
                color: #555;
                background-color: white;
                border: 1px solid #ccc;
                border-left: none;
                border-radius: 0px 4px 4px 0px;
            }
        }

        .feather-user {
            fill: #555;
        }
    }
}