.inputContainer {
    display: flex;
    flex-direction: row;
    gap: 0px;

    input {
        position: relative;
        z-index: 1;

        padding: 8px 12px;
        color: #555;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px 0px 0px 4px;
    }

    button {
        padding: 8px 12px;
        color: #555;
        background-color: white;
        border: 1px solid #ccc;
        border-left: none;
        border-radius: 0px 4px 4px 0px;
    }
}